<div id="header">
    <div class="navbar navbar-default navbar-fixed-top role=" navigation "">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a data-ui-sref="home" style="padding-left: 5vh; height: 180px;" href="/">
            <img src="img/ABS_logo.png" alt="logo" width="247" style="cursor: pointer; text-align: center; padding-top: 20px; padding-bottom: 20px;">
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right nav-bar-options">
            <li><a id="teamButton" href="/team" data-ui-sref-active="activeUnderline">Team</a></li>
            <li><a id="workButton" href="/work" data-ui-sref-active="activeUnderline">Work</a></li>
            <li><a id="servicesButton" href="/services" data-ui-sref-active="activeUnderline">Services</a></li>
            <li><a id="contactButton" href="/contact" data-ui-sref-active="activeUnderline">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
</div>
